# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables
.env
.env.*
!.env.example

# Dependency directories
vendor/

# Personal configuration and logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

#rules
RULES.md